<style type="text/css">
body,td,th {font-family: 'arial'; color: #cccccc;}
body {  
	font-family: 'arial'; color: #cccccc;
	background-color: #1a1a1a; background-repeat: repeat;
	background-image: url();
	background-repeat: no-repeat;
	background-position: right bottom ;

	}
.Title {font-size: 50px; font-weight: bold; color: #0099ff}
.h1 {font-size: 25px; font-weight: bold; color: #0099ff}
.n1 {font-size: 20px; font-weight: normal; color: #fff;}
.c1 {font-size:20px; font-weight: normal; color:#0099ff}
h0 {font-size: 50px; font-weight: bold; color: #0099ff}
h1 {font-size: 20px; font-weight: bold; color: #0099ff}
h2 {font-size: 15px; font-weight: bold; color: #cccccc;}
h3 {font-size: 8px; font-weight: none; color: #fff;}
s {font-size:5px; color:#0099FF}
a:link {color:#0099ff; font-weight:bold; text-decoration:none;}
a:visited {color:#0099ff; font-weight: bold; text-decoration:none;}
a:hover {color:#0099ff; font-weight: bold; text-decoration:none;}
a:active {color:#0099ff; font-weight: bold; text-decoration:none;}
img {border-style: none;}

.streamoptions {height:100%; width:100%; top:0px; right:0px; position:absolute; z-index:1; overflow:auto; color:#0099ff; background-color:#1a1a1a;}

hidden {
display:none;
}
visible {
}

</style>